<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/instructions.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<body>
  <div class="space">
    <h1 class="green-txt font  center-text title" >{{title}}</h1>
    <h2 class="gray font center-text">{{step}}</h2>
  </div>
  <div class="center-text">
      <meter id="progress" value= {{meter}} min="0" max="13">1 out of 13</meter>
  </div>
  <h2 class="black"><strong>instruction:</strong></h2>
  <h2 class="black font">{{instruction|safe}}</h2> 
  <div class="center-text">
    <img class="instruction_img" src="{{img}}"/>
  </div>
  <input class="buttons center-text" type="button" onclick="alert({{hint}})" value="Hint">
  <table class="center">
    <tr>
      <td>
        <a href="#"
          <button class="buttons font cell">← Previous</button>
        </a>
      </td>
      <td>
        <h4 class="progress-conter font green-txt  cell">{{page}}</h4>
      </td>
      <td>
         <a href="#"
          <button class="buttons font cell">Next →</button>
        </a>
      </td>
      </tr>
  </table>  
  
</body>

