<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navigation.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<h1 class="green-text center-text font">Onshape Tutorial</h1>
<p class="center-text font">Getting Started</p>
<p class="font">Our recommendations for you:</p>
<table class="center"width="100%">
  <tr>
    <td><a href="https://learn.onshape.com/courses/fundamentals-navigating-onshape/"target="_blank"><img src="{{ url_for('static',filename='images/Navigating onshape.png') }}"/></a></td>
  </tr>
  <tr>
    <td><a href="https://learn.onshape.com/courses/fundamentals-sketching/"target="_blank"><img src="{{ url_for('static',filename='images/Introduction to sketching.png') }}"/></a></td>
  </tr>
  <tr>
    <td><a href="https://learn.onshape.com/courses/fundamentals-part-design-using-part-studios/" target="_blank"><img src="{{ url_for('static',filename='images/Part design Using Part Studios.png') }}"/></a></td>
  </tr>
  <tr>
    <td><a href="https://learn.onshape.com/courses/fundamentals-multi-part-part-studios/"target="_blank"><img src="{{ url_for('static',filename='images/Multi-Part Part Studios.png') }}"/></a></td>
  </tr>
  <tr>
    <td><a href="https://learn.onshape.com/courses/fundamentals-onshape-assemblies"target="_blank"><img src="{{ url_for('static',filename='images/Onshape Assemblies.png') }}"/></a></td>
  </tr>
</table>
