<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navigation.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<body>
      <h1 class="green-text center-text font title">Onshape Tutorial</h1>
  <p class="center-text title">Getting Started</p>
   {% if first_question == True %}
  <table class="center">
    <tr>
      <p class="center-text">Is it your first time using CAD?</p>
      <td><a href='/instructions/1'><button class="survey-button pointer ">Yes</button></a></td>
      <td><a href='/next'><button class="survey-button pointer">No</button></a></td>
    </tr>
  </table>
   {% endif%}
  {% if second_question == True%}
  <table class="center">
     <tr>
      <p class="center-text">Have you used Onshape before?</p>
    <td><a href='/resources'><button class="survey-button  pointer">Yes</button></a></td>
    <td><a href='/instructions_nohint/1'><button class="survey-button pointer">No</button></a></td>
    </tr>
  </table>
   {% endif%}
</body>