<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navigation.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<body>
      <h1 class="green-text center-text font">Onshape Tutorial:</h1>
      <p class="center-text">Getting Started</p>
  <table class="center">
    <tr>
      <p class="center-text">Is it your first time using CAD?</p>
      <td><button class="survey-button pointer">Yes</button></td>
      <td><button class="survey-button pointer">No</button></td>
    </tr>
  </table>
  <table class="center">
     <tr>
      <p class="center-text">Have you used Onshape before?</p>
      <td><button class="survey-button pointer">Yes</button></td>
      <td><button class="survey-button pointer">No</button></td>
    </tr>
  </table>
</body>