.gray {
  color: grey;
  }
.green-txt{
  color:limegreen;
}
.black{
  color:black;
}
.font {
    font-family: 'Open Sans';
}

.center-text{
  text-align: center;
  font-family: 'Open Sans';
}

.center {
  margin-left: auto; 
  margin-right: auto;
}
.title-spaceing{
  margin-top:10px;
  
}

meter {
  --background: #919191;
  --optimum: limegreen;
  background: var(--background);
  margin-bottom: 1em;
   width:100%;
  max-width:800px;
  text-align:center;
}

.buttons {
  background-color:#232323
  border: none;
  color: white;
  width:100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans';
  margin-left: auto; 
  margin-right: auto;
  border-radius: 12px;
  
}

.buttons:hover { 
  background-color:#919191;
  color:white;
  cursor:pointer;
}
.space{
  margin:20px;
  margin-bottom:15px
}
.instruction_img{
  width:100%;
  max-width:800px;
  margin-bottom:15px
}

.num_spaceing{
  margin-bottom:10px;
}

.num-space{
  vertical-align: middle;
}

  
.cell{
  width:100px;
  height: 30px;
  vertical-align: middle;
  text-align:center;
  
}
.progress-conter{
  padding-top:25px;
}

.hint_center{
  vertical-align:middle;
  text-align:center;
 padding-top:0px !important;
}
.placeholder{
  width:100px;
  height: 50px;
}